*{
    padding: 0;
    margin: 0;
}
#box{
    width: 1000px;
	height: auto;
    /*background: red;*/
    margin: 0 auto;

}
#logo{
    height: 200px;
    background: white;
    text-align: center;
	text-decoration-color: none;
}

#nav{
    height: 60px;
    background: forestgreen;
	text-decoration-color: none;
}
/*#nav ul{*/
    /*display: none;*/
/*}*/
#nav ul li{
    text-indent: 30px;
}
#nav>li:hover ul{
    display: block;
}
li{
    display: inline-block;
    alignment: center;
    text-align: center;
    width: 130px;
}
#main{
    height: 600px;
	text-decoration-color: none;
}
#leftMain{
    display: inline-block;
    width: 495px;
    height: 700px;
	float: left;
    background:pink;
}
#rightMain{
    display: inline-block;
    width: 495px;
    height: 700px;
    float: right;
    background-color: pink;
}


#rightMain ul li{
    width: 470px;
    height: 40px;
    text-align: left;
	text-indent: 1em;
}
#rightMain ol li{
    width: 470px;
    height: 40px;
    text-align: left;
	text-indent: 1em;
}
#guide{
    display: inline-block;
    width: 1000px;
    height: 40px;
    float: center;
    background-color: lightblue;
}
#footer{
    display: inline-block;
    width: 1000px;
    height: 50px;
    background-color: wheat;
    text-align: right;
    float: right;
}
#Menu>li:hover ul{
	display: block;
	
}
#Menu ul{
    display: none;
    background-color: pink;
	padding-top: 0px;
}
a{
    color: #000;
	text-decoration: none;
	word-wrap:break-word;
	word-break: normal；
}   
#jianjie{
	text-align: left;
	text-indent: 2em;
}
#yjcg{
	text-align: left;
	text-indent: 0em;
}
#yjcg ul li{
	text-align: left;
	text-indent: 2em;
}
